### DataFrame - Índices Multiníveis

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Níveis de Índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
hier_index = list(zip(outside, inside))

In [5]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [8]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [11]:
df

             A         B
G1 1  0.040642  0.428571
   2 -0.371146 -1.148197
   3  1.891730  2.437375
G2 1 -1.330692  0.846620
   2  1.832042 -0.682066
   3  0.627244  0.516856

In [13]:
df.loc['G1']['A']

1    0.040642
2   -0.371146
3    1.891730
Name: A, dtype: float64

In [14]:
df.index.names = ['Grupo', 'Numero']

In [15]:
df

                     A         B
Grupo Numero
G1    1       0.040642  0.428571
      2      -0.371146 -1.148197
      3       1.891730  2.437375
G2    1      -1.330692  0.846620
      2       1.832042 -0.682066
      3       0.627244  0.516856

In [17]:
df.xs('G1')

               A         B
Numero
1       0.040642  0.428571
2      -0.371146 -1.148197
3       1.891730  2.437375

In [18]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     0.040642  0.428571
G2    -1.330692  0.846620